<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

<div id="test"></div>

<input type="button" value="click" id="testClick"/>
<script src="https://pay.360.cn/resource/js/lib/171.js"></script>
<script src="https://pay.360.cn/resource/js/lib/nt.js"></script>

<script src="../src/core/base.js"></script>
<script src="../src/core/class.js"></script>
<script src="../src/core/event.js"></script>
<script src="../src/core/view.js"></script>
<script src="../src/core/controller.js"></script>
<script src="../src/core/model.js"></script>

<script type="text/ntpl-template" id="template-dialog">
	<div class="ui-alert" >
		<div class="ui-pop-box">
			<div class="ui-hd"><%= title %></div>
			<div class="ui-bd">
				<p class="ui-error-tips"><%= content %></p>
				<div class="ui-roller-btns">
					<div class="ui-flexbd cui-btns-cancel"><%= cancel %></div>
					<div class="ui-flexbd cui-btns-sure"><%= sure %></div>
				</div>
			</div>
		</div>
	</div>
</script>
<script src="../src/ui/dialog.js"></script>
<script>

	w.$id('testClick').on('click', function(){
		controller.set({
			title: '标题测试',
			content: '内容测试'
		})
		controller.show();
	});

</script>
</body>
</html>